entrypoint = "main.py"
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bash run.sh"]
deploymentTarget = "gce"
build = ["sh", "-c", "bash build.sh"]