run = "bash run.sh"
entrypoint = "main.py"

disableInstallBeforeRun = true

hidden = [".pythonlibs"]
modules = ["cpp-clang14"]

[nix]
channel = "stable-24_05"
packages = [
  "gcc",
  "gcc.cc.lib",
  "libstdcxx5",
  "stdenv.cc.cc.lib"
]

[deployment]
run = ["sh", "-c", "bash run.sh"]
build = ["sh", "-c", "bash build.sh"]
deploymentTarget = "gce"

[env]
REPLIT_DISABLE_PACKAGE_LAYER = "1"

[[ports]]
localPort = 8000
externalPort = 80