[tool.poetry]
name = "wandbot"
version = "1.1.0"
description = "A Q&A bot for Weights & Biases documentation"
authors = ["parambharat <bharat.ramanathan@wandb.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/wandb/wandbot"
repository = "https://github.com/wandb/wandbot"
include = ["src/**/*", "LICENSE", "README.md"]

[tool.poetry.dependencies]
python = ">=3.10.0,<3.12"
numpy = "^1.26.1"
wandb = "<=0.16.1"
tiktoken = "^0.5.1"
pandas = "^2.1.2"
unstructured = "^0.12.3"
pydantic-settings = "^2.0.3"
gitpython = "^3.1.42"
giturlparse = "^0.12.0"
scikit-learn = "^1.3.2"
python-dotenv = "^1.0.0"
slack-bolt = "^1.18.0"
slack-sdk = "^3.21.3"
discord = "^2.3.2"
markdown = "^3.5.1"
fastapi = "^0.109.2"
tree-sitter-languages = "^1.7.1"
cohere = "^4.32"
markdownify = "^0.11.6"
uvicorn = "^0.24.0"
zenpy = "^2.0.46"
openai = "^1.3.2"
weave = "^0.31.0"
colorlog = "^6.8.0"
litellm = "^1.15.1"
google-cloud-bigquery = "^3.14.1"
db-dtypes = "^1.2.0"
python-frontmatter = "^1.1.0"
pymdown-extensions = "^10.5"
langchain = "^0.1.5"
langchain-openai = "^0.0.5"
chromadb = "^0.4.22"
langchain-experimental = "^0.0.50"
simsimd = "^3.7.4"
youtube-transcript-api = "^0.6.2"
pytube = "^15.0.0"
spacy = "^3.7.4"
instructor = "^0.6.4"
en_core_web_sm = {url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz"}

[tool.poetry.dev-dependencies]
#fasttext = {git = "https://github.com/cfculhane/fastText"} # FastText doesn't come with pybind11 and we need to use this workaround.

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.isort]
profile = "black"
line_length = 80
skip = [".gitignore", "data", "examples", "notebooks", "artifacts", ".vscode", ".github", ".idea", ".replit", "*.md", "wandb", ".env", ".git", ]

[tool.black]
line-length = 80
skip = [".gitignore", "data", "examples", "notebooks", "artifacts", ".vscode", ".github", ".idea", ".replit", "*.md", "wandb", ".env", ".git", ]
