[tool.poetry]
name = "wandbot"
version = "1.0.0"
description = "A Q&A bot for Weights & Biases documentation"
authors = ["parambharat <bharat.ramanathan@wandb.com>"]
license = "LICENSE"
readme = "README.md"
homepage = "https://github.com/wandb/wandbot"
repository = "https://github.com/wandb/wandbot"
include = ["src/**/*", "LICENSE", "README.md"]

[tool.poetry.dependencies]
python = ">=3.10.0,<3.11"
numpy = "^1.26.1"
wandb = "<=0.16.1"
tiktoken = "^0.5.1"
pandas = "^2.1.2"
unstructured = "^0.10.28"
pydantic-settings = "^2.0.3"
gitpython = "^3.1.40"
giturlparse = "^0.12.0"
scikit-learn = "^1.3.2"
python-dotenv = "^1.0.0"
faiss-cpu = "^1.7.4"
slack-bolt = "^1.18.0"
slack-sdk = "^3.21.3"
discord = "^2.3.2"
markdown = "^3.5.1"
fastapi = "^0.104.1"
llama-index = "^0.9.4"
tree-sitter-languages = "^1.7.1"
cohere = "^4.32"
markdownify = "^0.11.6"
uvicorn = "^0.24.0"
zenpy = "^2.0.41"
openai = "^1.3.2"
weave = "^0.31.0"
langchain = "^0.0.344"
cachew = "^0.15.20231019"
colorlog = "^6.8.0"
rank-bm25 = "^0.2.2"
litellm = "^1.15.1"
google-cloud-bigquery = "^3.14.1"
db-dtypes = "^1.2.0"
python-frontmatter = "^1.0.1"
pymdown-extensions = "^10.5"
instructor = "^0.4.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.isort]
profile = "black"
line_length = 80
skip = [".gitignore", "data", "examples", "notebooks", "artifacts", ".vscode", ".github", ".idea", ".replit", "*.md", "wandb", ".env", ".git", ]

[tool.black]
line-length = 80
skip = [".gitignore", "data", "examples", "notebooks", "artifacts", ".vscode", ".github", ".idea", ".replit", "*.md", "wandb", ".env", ".git", ]
